body {
  font-family: Roboto, sans-serif;
  font-size: 13px;
  line-height: 1.42857143;
  color: #767676;
  background-color: #edecec;
}

.message-feed {
  padding: 20px;
}
.pull-left {
  margin-right: 15px;
}
.message-feed.right > .pull-right {
  margin-left: 15px;
}
.message-feed:not(.right) .mf-content {
  background: #03a9f4;
  color: #fff;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
}
.message-feed.right .mf-content {
  background: #eee;
}
.mf-content {
  padding: 12px 17px 13px;
  border-radius: 2px;
  display: inline-block;
  max-width: 80%;
}
.mf-date {
  display: block;
  color: #b3b3b3;
  margin-top: 7px;
}
.mf-date > i {
  font-size: 14px;
  line-height: 100%;
  position: relative;
  top: 1px;
}
.msb-reply {
  position: relative;
  margin-top: 30px;
  background: #f8f8f8;
}

.msb-reply textarea {
  width: 100%;
  font-size: 13px;
  padding: 10px 15px;
  resize: none;
  height: 60px;
}

.msb-reply button:hover {
  background: #706dfd;
}
.img-avatar {
  height: 37px;
  border-radius: 2px;
  width: 37px;
}
.btn:not(.btn-alt) {
  border: 0;
}

.ms-body {
  background: #f8f8f8;
}

#ms-menu-trigger,
.message-feed.right {
  text-align: right;
}

.window {
  border: 1 solid grey;
}
button {
  background: #575ed8;
  color: #fff;
  font-size: 18px;
  border: 0;
  padding: 12px 0;
  width: 100%;
  border-radius: 0 0 2px 2px;
}
